body {
    background: url("/assets/img/Asset1-8.png")no-repeat center center fixed;
    overflow-x: hidden;
    font-family: Arial Narrow,Arial,sans-serif;
    /* position: absolute;*/
}

:root {
    --main-navbartext-color: black;
    --main-navbartext-size: 1.8vw;

    --main-intro-color: black;
    --main-intro-size: 6vw;

    --main-txt-color: black;
    --main-txt-size: 2vw;

    --main-note-color: black;
    --main-note-size: 1.3vw;

    --main-txtpic-color: black;
    --main-txtpic-size: 1.3vw;

    --button-shadow-color-main:black;  
}

.light {
    font-family: Arial Narrow,Arial,sans-serif;
    font-weight: 100;
}




/*------------------------NAVBAR------------------------*/
.navbar {
    height: 5em;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%);
}

.navbar .navbar-text{
    color : var(--main-navbartext-color);
    font-size: var(--main-navbartext-size);
    padding-right: 0.5rem;
    margin-bottom: 1rem;
}

/*--menù a tendina--*/
.navbar .dropdown-menu{
    background-color: white;
    border: 1px black solid;
    width: 15vw;
    border-radius: 0rem;
}

 .mobile {
        display: none;
    }

.dropdown-item{
    color: var(--main-navbartext-color);
}

.dropdown-item:hover{
    text-decoration: underline;
    background: none;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}


/*----------------------INTRODUCTION TEXT----------------------*/
.introduzione-text {
    font-size: var(--main-intro-size);

    line-height: 1.05em;
}

.fonteCit{
    font-size: var(--main-note-size);
    margin-top: 4vh;
}

/*----------------------INTRODUCTION TEXT----------------------*/
.spiegawarfare-text {
    font-size: var(--main-txt-size);
    line-height: 1.2em;
}

.spiegawarfare-text-piccolo {
    font-size: var(--main-note-size);
    line-height: 1.4em;
}

#first {
    background: none;
    padding-top: 13vh;
    padding-bottom: 30vh;
}

#first-archive {
    background: none;
    padding-top: 12vh;
    padding-bottom: 0vh;
}

#second {
    padding-top: 4vh;
    padding-bottom: 4vh;
}

#secondHome {
    position: relative;
    padding-top: 25vh;
    padding-bottom: 4vh;
}

/* per indentare */
.p-tab { 
    text-indent: 2em; 
}

p {
    margin-top: 0vh;
    margin-bottom: 0vh;
}

/*//////////////////////ASCII//////////////////////*/
/* Propaganda*/
.ascii {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.1vw;
    color: black;
    margin: 0;
    line-height: 1.2;
}

/* Scissors */
.asciiSciss {
    font-family: "Courier New", Courier, monospace;
    font-size: 1vw;
    color: black;
    margin-top: 1rem;
    margin-bottom: 0rem;
    line-height: 1vw;
    overflow: hidden;
}

.decoration {
    position: absolute;
}

.whoProj {
    font-family: "Courier New", Courier, monospace;
    font-size: 3pt;
    line-height: 1;
    font-weight: 900;
}

.cornice {
    overflow-x: hidden;
    padding: 0;
}


/*//////////////////////ARCHIVIO//////////////////////*/

.my__container {
    margin-top: 2rem;
}

img {
    max-width: 100%;

}

.my__grid{
    display: flex; 
}

.animal {
    padding: 1rem;
    margin: 1rem;
    overflow: visible;
    float: left;
}

.animal p {  
    margin: 0.5rem 0 0 0;
    font-size: var(--main-note-size);
    text-align: left;
}

.pet-name {
    cursor: pointer;
    border: 0.05rem solid black;
    position:relative;
    top:0;
    left:0;
    max-height: 25vh;
    max-width: 25vw;
}

.pet-name:hover {
    cursor:url(https://i.ibb.co/VmjLG9y/info-yellow-01.png) 25 15, auto;
}


/*///////////////////////////FILTERS/////////////////////////////*/

.filtri{
    padding: 0;
    background-color: 0;
}

.filter__button { 
    font-size: 1.3rem;
    border: 1pt solid black;
    margin-top: 5rem;
    background: white;
}

.filters { 
    font-size: 0.9rem;
    margin-top: 4rem;
    background: none;

}


.filter__Tec {
    margin: 1px;
    margin-right: 2px;
}

.filter__Tar {
    margin: 1px;
    margin-right: 2px;
}

#demo1{
    font-size: 0.9rem;
    padding-left: 0vw;
    line-height: 1.3;
}

#demo2{
    font-size: 0.9rem;
    padding-left: 1vw;
    line-height: 1.3;
}




/*RADIO BUTTON*/
button:focus {outline:0;}
input:focus {outline:0;}


input[type="radio"] {
    background-color: white;
    border: 0.01rem solid black;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    position: relative;
    width: 1vw;
    -webkit-appearance: none;
    margin-top: 1px;
}

input[type="radio"]:after {
    background-color: white;
    content: '';
    display: block;
    height: 7px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 7px;
    -webkit-appearance: none;

}

input[type="radio"]:checked:after {
    background-color: black;
    -webkit-appearance: none;

}




/*///////////////////////////MODALS/////////////////////////////*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0px;
    top: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: hidden;  Enable scroll if needed */

}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 10% auto; /* 15% from the top and centered */
    /*    padding-bottom: 10px;*/
    border: 1px solid black;
    width: 65%; /* Could be more or less, depending on screen size */
    border-radius: 0px;
}

/* The Close Button */
a {
    color: black;
}

.barra {
    background-color: white;
    position:relative;
    border-bottom: 1px solid black;
    padding: 0px;
}

/*The Close Button */
.spegni {
    color: black;
    float: right;
    font-size: 1.5em;
}

.spegni:hover,
.spegni:focus {
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    cursor: pointer;
}

#app {    
}

.didascalie_1 {
    font-size: 1.8vw;
    line-height: 1.1em;
}

.didascalie_2 {
    font-size: 1.2vw;
}

.sinistro {
    border-left: 1px solid black;
}


.bordino {
    width: 75%;
    border-bottom: 0.5px solid black;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}

.bordino_link {
    width: 75%;
    border-bottom: 0.5px solid black;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}

.bordino_1 {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}

.noMargin{
    margin-right: 0 !important;
}

.link {
    text-decoration: underline;
    color: black;
}

/*///////////////////////////PROPAGANDA TECHNIQUES//////////////////////////*/
.text__Tec {
    font-size: 2em;
    line-height: 1.2em;
}

.categorie-text-fisse {
    font-size: 4vw;
    line-height: 1em;
    padding: 0;
    padding-left: 0.5vw;
}

.sezionePropaganda {
    margin-top: 60px;
}

.seeothertechniques{
    font-size: var(--main-txt-size);
    line-height: 1.2em;
}

#second {
    background: none;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

#third {
    background: none;
    padding-top: 4vh;
    padding-bottom: 4vh;
    overflow: hidden;
}

#thirdAscii {
    background: none;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#fourth {
    background: none;
    padding-top: 1vh;
    padding-bottom: 2vh;
}

#fifth {
    background: none;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

#sixth {
    background: none;
    padding-top: 70vh;
    padding-bottom: 4vh;
}

a:hover {
    color: black;
    cursor: pointer;
}



/*///////////////////////// BACK To TOP ELEMENT /////////////////////////*/
.toTop {
    margin-top: 0rem;
    font-size: 0.5rem;
    margin-bottom: 0rem;
    position: relative;
    overflow: hidden;    
}

#demo {
    position: absolute;
}

.stella {
    background: red;
    /*width: 150px;
    height: 150px;*/
    width: 120px;
    height: 120px;
    position: relative;
    text-align: center;
    transform: rotate(20deg);   
}

.stella:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    background: red;
    transform: rotate(135deg);
}


.cat {
    width: 100%;
    position: relative;
    transform: rotate(-10deg) translate(-8px, 0px);
}

.flag {
    width: 100%;
    position: relative;
    transform: scale(1.4);
}

.missile {
    width: 100%;
    position: relative;
    transform: rotate(-70deg) scale(1.7); 
}

.HKinfos {
    background: white;
    font-size: var(--main-note-size);
    width:20vw;
    border: 0.05rem red solid;
    color:red;
    position: relative;
    top: -5.5rem;
    left: 8rem;
    transform: rotate(-20deg);
    padding: 0.5rem;
    text-align: left;
    line-height: 1.2em; 
}

/*smaller screen*/
.HKinfosSmall {
    background: white;
    font-size: var(--main-note-size);
    border: 0.05rem red solid;
    color:red;
    padding: 0.5rem;
    text-align: left;
    line-height: 1.2em; 
    margin-top: 2rem;
    display: none;
}

.noclick {
    cursor: default;
    user-select: none;
}

.comingsoon {
    margin-top: 12rem;  
}

.normale {
    max-height: 540px;
    min-height: 540px;
    width: 100%;
    display: block;
    margin: 0 auto;
    object-fit:contain;
}

/*----------------Propaganda list -> homepage-----------------*/

.propaganda__link {
    font-size: var(--main-intro-size);
    line-height: 1;
    color: black;
}

.propaganda__link sup {
    font-size: 3.6vw;
}

.propaganda__link:hover {
    font-size: var(--main-intro-size);
    line-height: 1;
    color: red;
}

.apice {
    font-size: 5vw;
}


/*--------------------------SIDEBAR---------------------------*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 100%);
    filter: invert(100%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 12vh;
    right: 0rem;

}
/*
.sidenav a {
padding: 0rem 0rem 8rem 32rem;
text-decoration: none;
font-size: var(--main-note-size);
display: block;
transition: 0.3s;
}*/

.sidenav a:hover {
    color: black;
    -webkit-text-fill-color: white;  Will override color (regardless of order) 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; 
}


.navTitle p {
    font-size: 1.2vw;

}

.navTitle a {
    font-size: 2vw;
}

.navTitle {
    line-height: 1.3rem;
}



.bottoncino {
    position: fixed;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    z-index: 50;
    right: 0rem;
    height: 100%;
    width:15vw%;
    padding-top: 50vh;
}

.bottoncino a {
    color: white;

}

.rotato {
    transform: translateX(-1rem) rotate(-90deg);
    font-size: 4vw;
    color: white;
}


mark{
    background: black;
    color: white;
}





/*///////////////////////////MEDIA ONLY///////////////////////////*/
@media only screen and (max-width: 400px) {

    /*NAVBAR*/
    .navbar .navbar-text{
        color : var(--main-navbartext-color);
        font-size: 5vw;
        padding-right: 0.5rem;
        margin-bottom: 1rem;
    }
    
    .desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }

    /*--menù a tendina--*/
    .navbar .dropdown-menu{
        background-color: white;
        border: 1px black solid;
        width: 15vw;
        border-radius: 0rem;
        padding: 0vw;
    }

    .dropdown-item{
        color: var(--main-navbartext-color);
        padding: 0vw;
        padding-left: 1.5vw;
    }

    #secondHome {
        padding-bottom: 4vh;
    }


    /*Home*/

    #third {
        background: none;
        padding-bottom: 4vh;
    }

    div.HKinfos {
        display: none;
    }

    #first {
        background: none;
        padding-top: 5em;
        padding-bottom: 0vh;
    }

    /*introduction text*/
    .introduzione-text {
        font-size: 9vw;
        text-transform: uppercase;
        line-height: 1em;
    }

    .etichette {
        position: relative;
        z-index: 10;
    }
    .stickGatto {
        position:relative;
        top:0;
        z-index: 100;
        border: none;
        transform-origin: bottom;
        transform: scale(0.8);
        transition: 0.7s ease-in-out;
    }

    .stickBrex {
        transform-origin: center;
        transform: scale(0.8);
        border: none;
        z-index: 10;
        transition: 0.7s ease-in-out;
    }

    .stickWar {
        border: none;
        z-index: 1;
        transition: 0.7s ease-in-out;
        transform-origin: top;
        transform: scale(0.8);
    }

    .propagandaBox {
        transform: rotate(-9deg);
        padding: 0rem;
        margin-top:0;
        margin-bottom: 0;
        width:190%;   
    }

    .spiegawarfare-text {
        font-size: 3vw;
        line-height: 1.2em;
    }
    
    .centerSticker {
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);  
    }

    /*Artwork archivio*/
    .HKinfos {
        display: none;
    }
    .stella {
        display: none;    
    } 
    .stella:before {
        display: none;    
    }

    .HKinfosSmall {
        display: block;
    }

    /*ARCHIVIO*/
    .pet-name {
        max-height: 30vh;
        max-width: 30vw;
    }
    .animal {
        margin:0.5rem;
    }
    .animal p {
        font-size: 4vw;
    }
    
    /*SIDEBAR*/
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



@media only screen and (min-width:801px)  { 
    
    .centerSticker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
    .propagandaBox {
    transform: rotate(-9deg);
    padding: 0rem;
    margin-bottom: 10vh;
}

}



/*------_------MARQUEE--------------*/
#maindiv{
    overflow: hidden;
    white-space: nowrap;
}


#div1 {
    display: inline-block;
    animation: marquee 400s linear infinite;
    position:relative;
}

#div2 {
    display: inline-block;
    animation: marquee2 400s linear infinite;
    animation-delay: 0s;
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    from {
        transform: translateX(-20%);
    }
    to {
        transform: translateX(-100%);
    }
}


.etichette {
    position: relative;
    z-index: 10;
}

.stickGatto {
    z-index: 100;
    border: none;
    transition: 0.7s ease-in-out;
}

.stickBrex {
    border: none;
    z-index: 10;
    transition: 0.7s ease-in-out;
}

.stickWar {
    border: none;
    z-index: 1;
    transition: 0.7s ease-in-out;
}


.stickWar:hover {
    border: none;
    z-index: 1000;
    -webkit-transform:translateY(-5vw) rotate(25deg) scale(1.02);
    transform-origin:center;   

}

.stickBrex:hover {
    border: none;
    z-index: 1000;
    -webkit-transform: translateY(-5vw) rotate(-30deg) scale(1.02);
    transform-origin:center;
}

.stickGatto:hover {
    z-index: 1000;
    border: none;
    -webkit-transform: translateY(-5vw) rotate(-25deg) scale(1.02);
    transform-origin:top-right;
}

#marqueeBox{
    overflow-x: hidden;
    font-size: 10vw;
    padding-top: 5vh;
}


//////////////*COLLAPSIBLE*////////////

.bottone {
    border: 1px solid white;
    color:white;
    font-family: Arial Narrow, Arial, sans-serif;
    font-size: 6em;
    text-transform: uppercase;
    height: 29vh;
}


.background-about {
    background: url("/assets/img/bg.jpg")no-repeat center center fixed;;
}


.card-body {
    background-color: transparent;
    color: white;
}

.titoli-about {
    font-size: 5vw;
    line-height: 1em;
}

.testi-about {
    font-size: 2vw;
    line-height: 1.1em;
    z-index: 1; 
}




#formica, #img-NewHampshire, #img-cheezburger, #img-xijinping, #img-iran, #img-brexit, #img-hkprotest, #img-memetic .visible {
    visibility: visible;    
}


#img-brexit, #img-hkprotest, #img-iran, #img-xijinping, #img-memetic {
    position: absolute;
    visibility: hidden;
    transform: translateX(-50%)  translateY(-50%); 
    pointer-events:none;
    width: 30%;
    z-index: 0;
}

#formica, #img-NewHampshire {
    position: absolute;
    visibility: hidden;
    transform: translateX(-50%)  translateY(-180%); 
    pointer-events:none;
    width: 30%;
    z-index: 0;
}

#img-cheezburger {
    position: absolute;
    visibility: hidden;
    transform: translateX(-50%)  translateY(-130%); 
    pointer-events:none;
    width: 30%;
    z-index: 0;
}


#ant, #NewHampshire, #cheezburger, #xijinping, #iran, #brexit, #memetic, #reddit, #kym {
    color: yellow;
    text-decoration: underline;
}


.link-about {
    color: yellow;
    text-decoration: underline;
}

.link-about:hover {
    color: yellow;
    text-decoration: underline;
}


/*PROTOCOL*/
.st0{fill:#FFFFFF;}

.st1{font-family:'ArialNarrow';}

.st2{font-size:55.6716px;}

.st3{font-size:21.8037px;}

.st4{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}

.st5{fill:#FFFF00;}

.st6{font-size:23.0443px;}

.st7{fill:none;stroke:#FFFF00;stroke-miterlimit:10;}

.st8{fill:none;stroke:#000000;stroke-miterlimit:10;}

.hide {
    display:none;
}

.filter {
    display:block;
}

.on {
    fill: yellow;
    text-decoration:underline;
}



#modal-reddit, #modal-kym {
    display: none;
}

.modal-reddit {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 50vw;
    top: 22vh;
    width: 40vw; /* Full width */
    /*overflow: hidden;  Enable scroll if needed */
}

.modal-kym {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 40vw;
    top: 90vh;
    width: 40vw; /* Full width */
    /*overflow: hidden;  Enable scroll if needed */
}


/* Modal Content/Box */
.modal-content-reddit, .modal-content-kym {
    background-color: black;
    margin: 15% auto; /* 15% from the top and centered */
    /*    padding-bottom: 10px;*/
    border: 1px solid white;
    width: 100%; /* Could be more or less, depending on screen size */
    border-radius: 0px;
    padding: 0.5vw 0vw 1vw 0vw;
}

.barra-reddit, .barra-kym {
    background-color: black;
    position: relative;
    border-bottom: 1px solid white;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 1px;
    width: 99.9%;

}

.spegni-reddit, .spegni-kym {
    color: white;
    font-size: 1.5em;
}

.spegni-reddit, .spegni-kym:hover,
.spegni-reddit, .spegni-kym:focus {
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    cursor: pointer;
}


/**************CURTAIN E INTRODUZIONE**********/

#curtain,
.flip {
    position: fixed;
    top: 0;
    left: 0
}

#curtain {
    right: 0;
    bottom: 0;
    z-index: 11;
    background: url("/assets/img/Asset1-8.png")no-repeat center center fixed;
    opacity: 0;
}
canvas {
    right: 0;
    bottom: 0;
    z-index: 12;
    pointer-events: auto;
}

#toggle,
canvas {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

#toggle {
    height: 100%;
    width: 100%;
    display: block;
    z-index: 13;
    cursor: crosshair;
}

.dropped #toggle {
    height: 60px;
    display: none;
    z-index: 1;
}



.dropped canvas {
    pointer-events: none
}


.dropped #curtain {
    position: absolute;
    opacity: 1;
}


/*///////*/
#pepe, #coordinated, #jeff, #mushroom, #mms, #shabo, #propbook {
    text-decoration: underline;
    cursor: pointer;
}
